<div class="col-xs10 col-xs-offset-1 about"  >
  <h1>About Splurty</h1>


<p>
  This little Splurty app was deaigned by<a target="_blank" href="www.jakeguymon.com">Jacob Guymon</a>
</p>
<br />
<p>
It is the first web app im creating and coding as part of <a target="_blank" href="www.thefirehoseproject.com">The Firehose Project</a>, which is an online coding bootcamp. Thanks for stopping by and I hope you like my app!
</p>
<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  </div>  

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'headshot.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jacob Guymon</h2>
    <br />
    <p>
      In a former life I was a pirate. And now some pirate lorem ipsum. Carouser doubloon code of conduct yo-ho-ho coxswain Buccaneer keelhaul walk the plank cable plunder black spot gun pinnace Nelsons folly nipper Jack Tar draft broadside grog chase guns. Keel fire in the hole hornswaggle jack aft chase pinnace lee Pirate Round plunder crow's nest fire ship American Main reef sails code of conduct hail-shot yawl scuttle crimp draft.
    </p>
  </div>  