<div class="col-xs8 col-xs-offset-2 about"  >
  <h1>About Splarrrty</h1>

<br />
<p>
  &nbsp&nbsp&nbsp&nbspThis little SplArrrty app was designed by me, <a target="_blank" href="www.jakeguymon.com">Jacob Guymon</a>. It is the first web app im creating and coding as part of <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>, an online coding bootcamp. Thanks for stopping by, I hope you laughed a little and enjoy my app! If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <br />
  <br />

  </div>  

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'pirate_headshot.png', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1 about">
    <h2 class="text-center">Jacob Guymon</h2>
    <br />
    <p>
    &nbsp&nbsp&nbsp&nbsp In a former life I was a pirate. I dont like writing bios, instead heres some pirate lorem ipsum. Arrr carouser doubloon rum code of conduct yo-ho-ho coxswain Buccaneer keelhaul walk the plank rum cable plunder black spot rum gun pinnace Nelsons folly nipper Jack Tar draft broadside grog chase guns. Keel fire in the hole rum  hornswaggle jack aft chase rum pinnace lee Pirate rum Round plunder crow's nest fire ship American Main reef rum sails code of conduct hail-shot yawl scuttle crimp draft.
    </p>
  </div>  