
<h3 class="number">&nbsp&nbsp&nbspSplArrrty  No. <%= @quote.id %></h3>
  <br />
<h3 class="splarrrty">
    I be wonder'n how much rum it took fer that ole<br /> 
    seadog <span class="name"> <%= @quote.author %></span> t'SplArrrt out
    <h1 class="main-quote"><%= @quote.saying %></h1>
</h3>

<br class="clear" />
<br />


