<h1> Add ye a new tale to the captain's log</h1>
<%= simple_form_for @quote do |f| %>

<div class="forms">
  <%= f.input :saying,  label: 'What tale was told?', placeholder: 'Yo, ho, yo, ho, a pirate\'s life for me' %>
  <br />
  <%= f.input :author, label: 'Who\'s words be these?', placeholder: 'Pirates Of The Caribbean' %>
  <br />
  <%=f.submit 'Create', class: 'btn btn-primary' %>

<% end %>
</div>