
@import url(https://fonts.googleapis.com/css?family=Passion+One);

.clear {
  clear:both;
}

.my_headline_font_size {
  font-size: 24px;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin: 10px 10px ;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(-12deg);
    -ms-transform:rotate(-12deg); /* IE 9 */
    -webkit-transform:rotate(-12deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'nexa_rust_slabblack_shadow_01', 'Passion One', cursive, 'sans-serif';
   padding-top: 32px;
  text-align: center;
}

.links {
  font-family: 'Passion One', cursive, 'sans-serif';
  padding-top: 28px;
  text-align: center;
 

}

.links a{
  color: black;
  border-bottom: 1px solid#787878;
  font-size: 25px; 
 
}

header {
  border-top: 5px solid #222222;
}

hr {
  border-bottom:1px solid black;
  clear: both;
}

h1 {
  font-family: 'Passion One', cursive, 'sans-serif';
  text-align: center;
}

h2 {
  font-family: 'Passion One', cursive, 'sans-serif';
  text-align: center;
}

.next-quote {
  color:#4D0000;
  font-family: 'Passion One', cursive, 'sans-serif';
  font-size:24px;
  text-align: center;
}

.footer-blurb{
  font-family: 'Passion One', cursive, 'sans-serif';
  font-style:italic;
  text-align: right;
  text-underline-position: 15px;
}

.logo:hover {
  text-decoration: none;
}

.error {
  text-align: center;
  height: 25px;
  width: auto;
  border:2px solid #A94442;
  border-radius: 5px;

}